.footerContainer {
    padding: 1rem;
    background: #f1f1f1;
    background-color: rgb(208, 45, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  .footerText {
    color: #f1f1f1;
    font-size: 1rem;

  }
  